<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/css/dracula-ui.css" />
</head>

<body class="drac-scrollbar-purple drac-bg-grey">
<div class="drac-box">
<header class="drac-d-flex justify-space-between align-center drac-p-lg">
    <h1>
        The Tech Blog
    </h1>
</header>
<main class="drac-w-3xl drac-d-inline-flex">
    <section class="drac-w-6xl drac-mr-md">
    {{{ body }}}
    </section>
    <section class="drac-card-subtle drac-rounded-2xl">
        Login
    </section>
</main>

</div>
</body>
</html>