<div class="drac-box drac-text-white-secondary drac-mb-sm drac-rounded">
    <form class="form login-form" action="/post" method="post">
        <div class="form-group">
            <input placeholder="Title" class="drac-input drac-input-purple drac-text-purple drac-m-xs" type="text" name="title" id="title" />
        </div>
        <div class="form-group">
            <textarea rows="10" placeholder="Body" class="drac-input drac-input-purple drac-text-white drac-m-xs" name="body" id="body" style="min-height: 285px" ></textarea>
        </div>
        <div class="form-group">
            <button class="drac-btn drac-btn-ghost drac-bg-purple-transparent drac-text-purple drac-m-sm" type="submit">post</button>
        </div>
    </form>
</div>